development: &default
  adapter: mysql2
  encoding: utf8
  database: groupme2_development
  host: localhost
  username: root
  password: "123456"

test: &TEST
  <<: *default
  database: groupme2_test

